<div class="myItem" >
	
		<table >
			<tr>
				<td>Name</td>
				<td><input type="text" ng-model="restaurant.name"></td>
			</tr>

			<tr>
				<td>Description</td>
				<td><input type="text" ng-model="restaurant.description"></td>
			</tr>

			<tr>
				<td>Contact</td>
				<td><input type="text" ng-model="restaurant.contact"></td>
			</tr>

			<tr>
				<td>Website</td>
				<td><input type="text" ng-model="restaurant.website"></td>
			</tr>
			
			<tr>
				<td>Rating</td>
				<td><input type="text" ng-model="restaurant.rating"></td>
			</tr>
			
			<tr>
				<td>City</td>
				<td><input type="text" ng-model="restaurant.city"></td>
			</tr>

			<tr>
				<td>Address</td>
				<td><input type="text" ng-model="restaurant.address"></td>
			</tr>
			</table>
			<br>
			
				<button ng-click="saveRestaurant()" onClick="clearField()">Save Restauant</button>
		
		</div>
	
</div>



	


