<div class="well">
	<a><h3 onClick="myFunction()" ng-click="allRestaurant()">Add Items</h3></a>
	<form class="myDIV" style="display:none">
	<table>
		<tr>
			<td>Restaurant Name :</td>
			
			
			<td>
				<select ng-model="items.restaurantName">
				<option  ng-repeat="resName in restaurantName">{{resName.name}}</option>
				</select>
			</td>
			
		</tr>
		<tr>
			<td>Name :</td>
			<td><input type="text" ng-model="items.name"></td>
		</tr>
		<tr>
			<td>Price :</td>
			<td><input type="text" ng-model="items.price"></td>
		</tr>
		<tr>
			<td>Description :</td>
			<td><input type="text" ng-model="items.description"></td>
		</tr>
	</table>
	<br>
	<button ng-click="addItem()">Add Item</button>
	</form>
</div>

<div class="well">
	<a><h3 onClick="myFunction2(); resetDropDown();" ng-click="allRestaurant()">All Item Details</h3></a>
	<br>
	<div class="myItem" style="display:none">
	<select id="dropDown" ng-model="itemsGet.restaurantName" name="Select Restaurant">
			<option disabled hidden>Select Restaurant</option>

			<option ng-repeat="resName in restaurantName">{{resName.name}}</option>
	</select>
	
	<br>
	<button ng-click="getItem()" onclick="resetDropDown()">Search</button>

	
	<table class="table table-strip table-hover">
		<tr style="background-color: #8FBC8F">
			<th>Name</th>
			<th>Price</th>
			<th>Description</th>
		</tr>
		<tr ng-repeat="item in itemsAll">
			<td>{{item.name}}</td>
			<td>{{item.price}}</td>
			<td>{{item.description}}</td>
		</tr>
	</table>
	</div>
</div>