
<div class="well">
	<a><h3 onclick="myFunction()" ng-click="getAll()">All Users Details</h3></a>
	
	<br>
	<div class="myDIV" style="display:none">
	<table class="table table-strip table-hover w3-card-4">
		<tr style="background-color: #8FBC8F" class="w3-card-2">
			<th>Name</th>
			<th>Password</th>
			<th>Mobile</th>
			<th>Address</th>
			<th>Landmark</th>
			<th>Pincode</th>
			<th>Type</th>
		</tr>
		<tr ng-repeat="user in users">
			<td>{{user.name}}</td>
			<td>{{user.password}}</td>
			<td>{{user.mobile}}</td>
			<td>{{user.address}}</td>
			<td>{{user.landmark}}</td>
			<td>{{user.pincode}}</td>
			<td>{{user.type}}</td>
		</tr>
	</table>
	</div>
</div>